<%= render 'layouts/sidemenu' %>
<div class="col-9">
  <%= search_form_for @q do |f| %>
    <table class="table table-borderless">
      <tbody>
        <tr>
          <td>
            <%= f.search_field :title_or_text_cont, placeholder: "アビリティを検索", class: "form-control" %>
          </td>
          <td>
            <%= f.submit "Search", class: "btn btn-success" %>
          </td>
        </tr>
      </tbody>   
    </table>
  <% end %>
  <% if @q_abilities %>
    <% @q_abilities.each do |ability| %>
      <div class="card", style="margin-bottom: 10px;">
        <div class="card-header bg bg-white">
          <%= link_to ability.user.name, user_path(ability.user_id) %><span>さんのアビリティ</span>
        </div>
        <div class="card-body">
          <h5 class="card-title">
            <%= ability.title %>
            <span><%= link_to "詳細", ability_path(ability), class: "btn btn-primary float-right" %></span>
          </h5>
          <%= attachment_image_tag ability, :image, class: "card-img" %>
        </div>
      </div>
    <% end %>
  <% else %>
    <% @abilities.each do |ability| %>
      <div class="card", style="margin-bottom: 10px;">
        <div class="card-header bg bg-white">
          <%= link_to ability.user.name, user_path(ability.user_id) %><span>さんのアビリティ</span>
        </div>
        <div class="card-body">
          <h5 class="card-title">
            <%= ability.title %>
            <span><%= link_to "詳細", ability_path(ability), class: "btn btn-primary float-right" %></span>
          </h5>
          <%= attachment_image_tag ability, :image, class: "card-img" %>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
