<%= render 'layouts/sidemenu' %>
<div class="col-9">
  <% if @ability.is_active == false %>
    <div style="height: 100px;">
      <%= attachment_image_tag @ability.user, :image, :fill, 90, 90, fallback: "no_image.jpg", class: "rounded-circle", style: "margin: 5px 0;" %>
      <%= link_to user_path(@ability.user_id) do %>
        <%= @ability.user.name %>
      <% end %><span>さんのアビリティ</span>
    </div>
    <div class="card">
      <div class="card-header bg bg-white d-flex flex-wrap">
        <h5 class="card-title", style="margin-right: auto;">
          <%= @ability.title %>
        </h5>
        <span>
          投稿日：<%= @ability.created_at.strftime('%Y/%m/%d') %>
          <% if @ability.created_at != @ability.updated_at %>
            、更新日：<%= @ability.updated_at.strftime('%Y/%m/%d') %>
          <% end %>
        </span>
      </div>
      <div class="card-body">
        <%= attachment_image_tag @ability, :image, class: "card-img" %>
        <div class="card-text">
          <%= @ability.text %>
        </div>
        <div class="card-footer bg bg-white">
          <% if @ability.liked_by?(current_user) %>
            <p class="float-left">
              <%= link_to like_path(@ability, favorite_type: "Ability", favorite_id: @ability.id), method: :delete do %>
                <span class="text-danger">♥</span><%= @ability.likes.count %> いいね
              <% end %>
            </p>
            <% else %>
            <p class="float-left">
              <%= link_to likes_path(favorite_type: "Ability", favorite_id: @ability.id), method: :post do %>
                ♡<%= @ability.likes.count %> いいね
              <% end %>
            </p>
          <% end %>
          <% if @ability.user_id == current_user.id %>
            <%= link_to "編集する", edit_ability_path(@ability), class: "btn btn-success float-right" %>
            <%= link_to "削除する", ability_path(@ability), method: :delete, data: {confirm: "本当に削除しますか？"}, class: "btn btn-danger float-right" %>
          <% end %>
          <%= link_to "コメントする", new_comment_path(target_id: @ability.id, target_type: "Ability"), class: "btn btn-primary float-right" %>
        </div>
      </div>
    </div>
    <div style = "margin-top: 10px;">
      <h5>コメント</h5>
      <% @comments.each do |comment| %>
        <div class="card">
          <div class="card-body">
            <h6 class="card-title">
              <%= link_to user_path(comment.user_id), class: "text-dark" do %>
                <%= comment.user.name %>
              <% end %>
              <span class="float-right">
                投稿日：<%= comment.created_at.strftime('%Y/%m/%d') %>
                <% if comment.created_at != comment.updated_at %>
                  、更新日：<%= comment.updated_at.strftime('%Y/%m/%d') %>
                <% end %>
              </span>
            </h6>
            <div class="card-text">
              <%= comment.text %>
            </div>
            <% if comment.user_id == current_user.id %>
              <div class="card-footer bg bg-white">
                <%= link_to "編集する", edit_comment_path(comment), class: "btn btn-success float-right" %>
                <%= link_to "削除する", comment_path(comment, t: "Ability", i: comment.target_id), method: :delete, data: {confirm: "本当に削除しますか？"}, class: "btn btn-danger float-right" %>
              </div>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  <% else %>
    <div class="img-thumbnail text-center" alt="Thumbnail image">
      <%= image_tag "no_image.jpg", size: "210x210" %>
    </div>
    <p class="text-center">この投稿は運営によってBANされました。</p>
  <% end %>
</div>