<%= render 'layouts/sidemenuForAdmin' %>
<div class="col-9">
  <h2>アイデア一覧</h2>
  <%= search_form_for(@q, url:admin_plans_path) do |f| %>
    <table class="table table-borderless">
      <tbody>
        <tr>
          <td>
            <%= f.search_field :title_or_text_cont, placeholder: "アイデアを検索", class: "form-control" %>
          </td>
          <td>
            <%= f.submit "Search", class: "btn btn-success" %>
          </td>
        </tr>
      </tbody>
    </table>
  <% end %>
  <% if @q_plans %>
    <% @q_plans.each do |plan| %>
      <div class="card", style="margin-bottom: 10px;">
        <div class="card-header bg bg-white">
          <%= link_to plan.user.name, admin_user_path(plan.user_id) %><span>さんのアイデア</span>
          <span class="float-right">
            <% if plan.is_active == false %>
              ステータス <span class="text-success">●</span>
            <% else %>
              ステータス <span class="text-danger">●</span>
            <% end %>
            、投稿日：<%= plan.created_at.strftime('%Y/%m/%d') %>
            <% if plan.created_at != plan.updated_at %>
              、更新日：<%= plan.updated_at.strftime('%Y/%m/%d') %>
            <% end %>
          </span>
        </div>
        <div class="card-body">
          <h5 class="card-title">
            <%= plan.title %>
            <span><%= link_to "詳細", admin_plan_path(plan), class: "btn btn-primary float-right" %></span>
          </h5>
          <%= attachment_image_tag plan, :image, class: "card-img" %>
        </div>
      </div>
    <% end %>
  <% else %>
    <% @plans.each do |plan| %>
      <div class="card", style="margin-bottom: 10px;">
        <div class="card-header bg bg-white">
          <%= link_to plan.user.name, admin_user_path(plan.user_id) %><span>さんのアイデア</span>
          <span class="float-right">
            <% if plan.is_active == false %>
              ステータス <span class="text-success">●</span>
            <% else %>
              ステータス <span class="text-danger">●</span>
            <% end %>
            、投稿日：<%= plan.created_at.strftime('%Y/%m/%d') %>
            <% if plan.created_at != plan.updated_at %>
              、更新日：<%= plan.updated_at.strftime('%Y/%m/%d') %>
            <% end %>
          </span>
        </div>
        <div class="card-body">
          <h5 class="card-title">
            <%= plan.title %>
            <span><%= link_to "詳細", admin_plan_path(plan), class: "btn btn-primary float-right" %></span>
          </h5>
          <%= attachment_image_tag plan, :image, class: "card-img" %>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
