<%= render 'layouts/sidemenuForAdmin' %>
<div class="col-9">
  <div style="height: 100px;">
    <%= attachment_image_tag @plan.user, :image, :fill, 90, 90, fallback: "no_image.jpg", class: "rounded-circle", style: "margin: 5px 0;" %>
    <%= link_to admin_user_path(@plan.user_id) do %>
      <%= @plan.user.name %>
    <% end %><span>さんのアイデア</span>
  </div>
  <div class="card">
    <div class="card-header bg bg-white d-flex flex-wrap">
      <h5 class="card-title", style="margin-right: auto;">
        <%= @plan.title %>
      </h5>
      <span>
        投稿日：<%= @plan.created_at.strftime('%Y/%m/%d') %>
        <% if @plan.created_at != @plan.updated_at %>
          、更新日：<%= @plan.updated_at.strftime('%Y/%m/%d') %>
        <% end %>
      </span>
    </div>
    <div class="card-body">
      <%= attachment_image_tag @plan, :image, class: "card-img" %>
      <div class="card-text">
        <%= @plan.text %>
      </div>
      <div class="card-footer bg bg-white">
        <span class="float-right btn btn-primary">
          <%= link_to "ステータス更新", admin_plan_path(@plan), method: :patch, class: "text-white text-decoration-none" %>
        </span>
        ステータス：
        <% if @plan.is_active == false %>
          <span class="text-success">正常</span>
        <% else %>
          <span class="text-danger">凍結</span>
        <% end %>
      </div>
    </div>
  </div>

<!--コメントの記述追加予定-->

</div>
