<%= render 'layouts/sidemenu' %>
<div class="col-9">
  <% @products.each do |product| %>
    <div class="card", style="margin-bottom: 10px;">
      <div class="card-header bg bg-white">
        <%= link_to product.user.name, user_path(product.user_id) %><span>さんのプロダクト</span>
      </div>
      <div class="card-body">
        <h5 class="card-title">
          <%= product.title %>
          <span><%= link_to "詳細", product_path(product), class: "btn btn-primary float-right" %></span>
        </h5>
        <%= attachment_image_tag product, :image, class: "card-img" %>
      </div>
    </div>
  <% end %>
</div>
