<%= render 'layouts/sidemenu' %>
<div class="col-9">
  <%= search_form_for @q do |f| %>
    <table class="table table-borderless">
      <tbody>
        <tr>
          <td>
            <%= f.search_field :title_or_text_cont, placeholder: "プロダクトを検索", class: "form-control" %>
          </td>
          <td>
            <%= f.submit "Search", class: "btn btn-success" %>
          </td>
        </tr>
      </tbody>   
    </table>
  <% end %>
  <% if @q_products %>
    <% @q_products.each do |product| %>
      <div class="card", style="margin-bottom: 10px;">
        <div class="card-header bg bg-white">
          <%= link_to product.user.name, user_path(product.user_id) %><span>さんのプロダクト</span>
        </div>
        <div class="card-body">
          <h5 class="card-title">
            <%= product.title %>
            <span><%= link_to "詳細", product_path(product), class: "btn btn-primary float-right" %></span>
          </h5>
          <%= attachment_image_tag product, :image, class: "card-img" %>
        </div>
      </div>
    <% end %>
  <% else %>
    <% @products.each do |product| %>
      <div class="card", style="margin-bottom: 10px;">
        <div class="card-header bg bg-white">
          <%= link_to product.user.name, user_path(product.user_id) %><span>さんのプロダクト</span>
        </div>
        <div class="card-body">
          <h5 class="card-title">
            <%= product.title %>
            <span><%= link_to "詳細", product_path(product), class: "btn btn-primary float-right" %></span>
          </h5>
          <%= attachment_image_tag product, :image, class: "card-img" %>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
