<%= render 'layouts/sidemenu' %>
<div class="col-9">
  <div style="height: 100px;">
    <%= attachment_image_tag @product.user, :image, :fill, 90, 90, fallback: "no_image.jpg", class: "rounded-circle", style: "margin: 5px 0;" %>
    <%= link_to user_path(@product.user_id) do %>
      <%= @product.user.name %>
    <% end %><span>さんの作品</span>
  </div>
  <div class="card">
    <div class="card-header bg bg-white">
      <h5 class="card-title">
        <%= @product.title %>
      </h5>
    </div>
    <div class="card-body">
      <%= attachment_image_tag @plan, :image, class: "card-img" %>
      <div class="card-text">
        <%= @product.text %>
      </div>
      <div class="card-footer bg bg-white">
        <% if @product.liked_by?(current_user) %>
          <p class="float-left">
            <%= link_to like_path(@product, favorite_type: "Product", favorite_id: @product.id), method: :delete do %>
              <span class="text-danger">♥</span><%= @product.likes.count %> いいね
            <% end %>
          </p>
          <% else %>
          <p class="float-left">
            <%= link_to likes_path(favorite_type: "Product", favorite_id: @product.id), method: :post do %>
              ♡<%= @product.likes.count %> いいね
            <% end %>
          </p>
        <% end %>
        <% if @product.user_id == current_user.id %>
          <%= link_to "編集する", edit_product_path(@product), class: "btn btn-success float-right" %>
          <%= link_to "削除する", product_path(@product), method: :delete, data: {confirm: "本当に削除しますか？"}, class: "btn btn-danger float-right" %>
        <% end %>
        <%= link_to "コメントする", new_comment_path(target_id: @product.id, target_type: "Product"), class: "btn btn-primary float-right" %>
      </div>
    </div>
  </div>
  <div style = "margin-top: 10px;">
    <h5>コメント</h5>
    <% @comments.each do |comment| %>
      <div class="card">
        <div class="card-body">
          <h6 class="card-title">
            <%= link_to user_path(comment.user_id), class: "text-dark" do %>
              <%= comment.user.name %>
            <% end %>
          </h6>
          <div class="card-text">
            <%= comment.text %>
          </div>
          <% if comment.user_id == current_user.id %>
            <div class="card-footer bg bg-white">
              <%= link_to "編集する", edit_comment_path(comment), class: "btn btn-success float-right" %>
              <%= link_to "削除する", comment_path(comment, t: "Product", i: comment.target_id), method: :delete, data: {confirm: "本当に削除しますか？"}, class: "btn btn-danger float-right" %>
            </div>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>
