<div class="container">
  <div class="row">
    <%= render 'layouts/sidemenu' %>
    <div class="col-9">
      <% @plans.each do |plan| %>
        <div class="card">
          <div class="card-header">
            <%= link_to plan.user.name, user_path(plan.user_id) %><span>さんのアイデア</span>
          </div>
          <div class="card-body">
            <h4 class="card-title"><%= plan.title %></h4>
            <p class="card-text"><%= plan.text %></p>
            <%= attachment_image_tag plan, :image, class: "card-image-top" %>
          </div>
          <div class="card-footer text-right">
            <%= link_to "詳細", plan_path(plan), class: "btn btn-primary" %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
