<%= render 'layouts/sidemenu' %>
<div class="col-9">
  <%= search_form_for @q do |f| %>
    <table class="table table-borderless">
      <tbody>
        <tr>
          <td>
            <%= f.search_field :title_or_text_cont, placeholder: "アイデアを検索", class: "form-control" %>
          </td>
          <td>
            <%= f.submit "Search", class: "btn btn-success" %>
          </td>
        </tr>
      </tbody>
    </table>
  <% end %>
  <% if @q_plans %>
    <% @q_plans.each do |plan| %>
      <div class="card", style="margin-bottom: 10px;">
        <div class="card-header bg bg-white">
          <%= link_to plan.user.name, user_path(plan.user_id) %><span>さんのアイデア</span>
        </div>
        <div class="card-body">
          <h5 class="card-title">
            <%= plan.title %>
            <span><%= link_to "詳細", plan_path(plan), class: "btn btn-primary float-right" %></span>
          </h5>
          <%= attachment_image_tag plan, :image, class: "card-img" %>
        </div>
        <div class="card-footer">
          <% if plan.liked_by?(current_user) %>
            <p>
              <%= link_to like_path(plan, favorite_type: "Plan", favorite_id: plan.id), method: :delete do %>
                <span class="text-danger">♥</span><%= plan.likes.count %> いいね
              <% end %>
            </p>
            <% else %>
            <p>
              <%= link_to likes_path(favorite_type: "Plan", favorite_id: plan.id), method: :post do %>
                ♡<%= plan.likes.count %> いいね
              <% end %>
            </p>
          <% end %>
        </div>
      </div>
    <% end %>
  <% else %>
    <% @plans.each do |plan| %>
      <div class="card", style="margin-bottom: 10px;">
        <div class="card-header bg bg-white">
          <%= link_to plan.user.name, user_path(plan.user_id) %><span>さんのアイデア</span>
        </div>
        <div class="card-body">
          <h5 class="card-title">
            <%= plan.title %>
            <span><%= link_to "詳細", plan_path(plan), class: "btn btn-primary float-right" %></span>
          </h5>
          <%= attachment_image_tag plan, :image, class: "card-img" %>
        </div>
        
      </div>
    <% end %>
  <% end %>
</div>

