<%= render 'layouts/sidemenu' %>
<div class="col-9">
  <% @plans.each do |plan| %>
    <div class="card">
      <div class="card-header">
        <%= link_to plan.user.name, user_path(plan.user_id) %><span>さんのアイデア</span>
      </div>
      <div class="card-body">
        <h5 class="card-title">
          <%= plan.title %>
          <span><%= link_to "詳細", plan_path(plan), class: "btn btn-primary float-right" %></span>
        </h5>
          <%= attachment_image_tag plan, :image, class: "card-img" %>
      </div>
    </div>
  <% end %>
</div>

