<%= render 'layouts/sidemenuForAdmin' %>
<div class="col-9">
  <h2>アビリティ一覧</h2>
  <%= search_form_for(@q, url:admin_abilities_path) do |f| %>
    <table class="table table-borderless">
      <tbody>
        <tr>
          <td>
            <%= f.search_field :title_or_text_cont, placeholder: "アビリティを検索", class: "form-control" %>
          </td>
          <td>
            <%= f.submit "Search", class: "btn btn-success" %>
          </td>
        </tr>
      </tbody>
    </table>
  <% end %>
  <% if @q_abilities %>
    <% @q_abilities.each do |ability| %>
      <div class="card", style="margin-bottom: 10px;">
        <div class="card-header bg bg-white">
          <%= link_to ability.user.name, admin_user_path(ability.user_id) %><span>さんのアビリティ</span>
          <span class="float-right">
            <% if ability.is_active == false %>
              ステータス <span class="text-success">●</span>
            <% else %>
              ステータス <span class="text-danger">●</span>
            <% end %>
            、投稿日：<%= ability.created_at.strftime('%Y/%m/%d') %>
            <% if ability.created_at != ability.updated_at %>
              、更新日：<%= ability.updated_at.strftime('%Y/%m/%d') %>
            <% end %>
          </span>
        </div>
        <div class="card-body">
          <h5 class="card-title">
            <%= ability.title %>
            <span><%= link_to "詳細", admin_ability_path(ability), class: "btn btn-primary float-right" %></span>
          </h5>
          <%= attachment_image_tag ability, :image, class: "card-img" %>
        </div>
      </div>
    <% end %>
  <% else %>
    <% @abilities.each do |ability| %>
      <div class="card", style="margin-bottom: 10px;">
        <div class="card-header bg bg-white">
          <%= link_to ability.user.name, admin_user_path(ability.user_id) %><span>さんのアビリティ</span>
          <span class="float-right">
            <% if ability.is_active == false %>
              ステータス <span class="text-success">●</span>
            <% else %>
              ステータス <span class="text-danger">●</span>
            <% end %>
            、投稿日：<%= ability.created_at.strftime('%Y/%m/%d') %>
            <% if ability.created_at != ability.updated_at %>
              、更新日：<%= ability.updated_at.strftime('%Y/%m/%d') %>
            <% end %>
          </span>
        </div>
        <div class="card-body">
          <h5 class="card-title">
            <%= ability.title %>
            <span><%= link_to "詳細", admin_ability_path(ability), class: "btn btn-primary float-right" %></span>
          </h5>
          <%= attachment_image_tag ability, :image, class: "card-img" %>
        </div>
      </div>
    <% end %>
  <% end %>
</div>