<!DOCTYPE html>
<html>
  <head>
    <title>Idea&Ability</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>

  <body>
    <header>
      <div class="container">
        <div class="row">
          <div class="col-12">
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
              <% if user_signed_in? %>
                <%= link_to "Idea&Ability", user_path(current_user), class: "navbar-brand" %>
              <% else %>
                <%= link_to "Idea&Ability", new_user_session_path, class: "navbar-brand" %>
              <% end %>
              <% if user_signed_in? %>
                <div class="nav navbse-nav mr-auto"></div>
                <button class="btn border border-0">
                  <%= link_to "ログアウト", destroy_user_session_path, method: :delete, data: {confirm: "本当にログアウトしますか？"}, class: "text-dark text-decoration-none" %>
                </button>
              <% elsif admin_signed_in? %>
                <div class="nav navbse-nav mr-auto"></div>
                <button class="btn border border-0">
                  <%= link_to "ログアウト", destroy_admin_session_path, method: :delete, data: {confirm: "本当にログアウトしますか？"}, class: "text-dark text-decoration-none" %>
                </button>
              <% end %>
            </nav>
          </div>
        </div>
      </div>
    </header>
    <main>
      <div class="container">
        <div class="row">
          <div class="col-12">
            <% if notice.present? %>
            <div class="alert alert-dismissable alert-success">
              <button type="button" class="close" data-dismiss="alert">&times;</button>
              <p><%= notice %></p>
            </div>
          <% end %>
          <% if alert.present? %>
            <div class="alert alert-dismissable alert-danger">
              <button type="button" class="close" data-dismiss="alert">&times;</button>
              <p><%= alert %></p>
            </div>
          <% end %>
          </div>
          <%= yield %>
        </div>
      </div>
    </main>
    <footer>
    </footer>
  </body>
</html>
