<!DOCTYPE html>
<html>
  <head>
    <title>Idea</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    
  </head>

  <body>
    <header>
      <div class="container">
        <div class="row">
          <div class="col-12">
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
              <%= link_to "Idea&Ability", root_path, class: "navbar-brand" %>
              <ul class="nav navbar-nav mr-auto"></ul>
              <ul class="nav navbar-nav">
                <form class="form-inline my-2 my-lg-0">
                  <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
                  <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                </form>
              </ul>
            </nav>
          </div>
        </div>
      </div>
    </header>
    <main>
      <%= yield %>
    </main>
    <footer>
    </footer>

  </body>
</html>
